.sidebar {
    background-color: #343a40; /* Cor de fundo escura */
    padding-top: 20px;
    min-height: 100vh;
    color: #fff;
}

.sidebar .nav-link {
    color: #c2c7d0;
    padding: 10px 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.sidebar .nav-link.active {
    background-color: #007bff;
    color: #fff;
}

.sidebar .nav-link i {
    margin-right: 10px;
}

.sidebar .user-panel {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #4f5962;
    padding-bottom: 10px;
}

.sidebar .user-panel .image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar .user-panel .info a {
    color: #fff;
    font-weight: 600;
    margin-left: 10px;
}

.input-group-append .btn-sidebar {
    background-color: #495057;
    border: none;
    color: #fff;
}

.input-group-append .btn-sidebar i {
    font-size: 1.2rem;
}

.form-control-sidebar {
    background-color: #495057;
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 0.875rem;
}
.sidebar .nav-link {
    margin-bottom: 10px;
}

.main-content {
    padding: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
